[run]
source = nti.app.pyramid_zope
# New in 5.0; required for the GHA coveralls submission.
# Perhaps this obsoletes the source section in [paths]?
relative_files = True

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
