-e svn+https://repos.nextthought.com/svn/nti-svn/nti.app.testing/trunk#egg=nti.app.testing
# These essentiallly all come from nti.app.testing's dependency on nti.dataserver
-e git+https://github.com/NextThought/nti.base.git@master#egg=nti.base
-e git+https://github.com/NextThought/nti.common.git@master#egg=nti.common
-e git+https://github.com/NextThought/nti.containers.git@master#egg=nti.containers
-e git+https://github.com/NextThought/nti.contentprocessing.git@master#egg=nti.contentprocessing
-e git+https://github.com/NextThought/nti.contenttypes.reports@master#egg=nti.contenttypes.reports
-e git+https://github.com/NextThought/nti.coremetadata.git@master#egg=nti.coremetadata
-e git+https://github.com/NextThought/nti.dataserver.git@master#egg=nti.dataserver
-e git+https://github.com/NextThought/nti.datastructures.git@master#egg=nti.datastructures
-e git+https://github.com/NextThought/nti.dublincore.git@master#egg=nti.dublincore
-e git+https://github.com/NextThought/nti.futures.git@master#egg=nti.futures
-e git+https://github.com/NextThought/nti.mimetype.git@master#egg=nti.mimetype
-e git+https://github.com/NextThought/nti.monkey.git@master#egg=nti.monkey
-e git+https://github.com/NextThought/nti.ntiids.git@master#egg=nti.ntiids
-e git+https://github.com/NextThought/nti.geventwebsocket.git@master#egg=nti.geventwebsocket
-e git+https://github.com/NextThought/nti.identifiers.git@master#egg=nti.identifiers
-e git+https://github.com/NextThought/nti.intid.git@master#egg=nti.intid
-e git+https://github.com/NextThought/nti.links.git@master#egg=nti.links
-e git+https://github.com/NextThought/nti.mailer.git@master#egg=nti.mailer
-e git+https://github.com/NextThought/nti.metadata.git@master#egg=nti.metadata
-e git+https://github.com/NextThought/nti.namedfile.git@master#egg=nti.namedfile
-e git+https://github.com/NextThought/nti.publishing.git@master#egg=nti.publishing
-e git+https://github.com/NextThought/nti.threadable.git@master#egg=nti.threadable
-e git+https://github.com/NextThought/nti.traversal.git@master#egg=nti.traversal
-e git+https://github.com/NextThought/nti.utils.git@master#egg=nti.utils
-e git+https://github.com/NextThought/nti.asynchronous.git@master#egg=nti.asynchronous
-e git+https://github.com/NextThought/nti.plone.namedfile.git@master#egg=nti.plone.namedfile
